.card{
    position: absolute;
    margin-top: 1px;
    margin-left: 0%;
    width: 98%;
    height: 70%;
    background-color: rgb(242, 255, 254);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1%;
}
.col-9 {
    font-size: 80%;
    font-family: Arial, sans-serif;
    color: #23214b;
    margin-left: -70%;
    font-size: 19px;
    margin-top: 29px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
}
.inter{
    color: #23214b;
    position: absolute;
    margin-top: 2%;
    font-family: sans-serif;
    font-size: 40px;
}
.mejor-10{
    color: #23214b;
    position: absolute;
    padding-top: 4%;
    font-family: sans-serif;
    font-size: 40px;
}
.cuan-12{
    color: #23214b;
    position: absolute;
    padding-top: 9%;
    font-family: sans-serif;
    font-size: 40px;
}
.rapido-13{
    color: #23214b;
    position: absolute;
    padding-top: 14%;
    font-family: sans-serif;
    font-size: 40px;
}
.context-99{
    color: #23214b;
    position: absolute;
    padding-top: 20%;
    font-family: sans-serif;
    font-size: 17px;
}
.parrafo-67{
    color: #23214b;
    position: absolute;
    padding-top: 22%;
    font-family: sans-serif;
    font-size: 17px;
}
img {
    width: 60%;
    display: block; 
    margin-left: 40%;
    margin-top: -3%; 
    margin-right: auto;
}

